/* Fomulaire - Conteneur */

.auth-container {
    max-width: 650px;
    margin: 3rem auto;
    padding: 2rem;
    background: var(--blanc);
    border-radius: 8px;
}

/* Fomulaire - Titres (h3) */

.section-title {
    font-family: "Merriweather", serif;
    font-weight: 700;
    color: var(--rouge-fonce);
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    border-bottom: 2px solid var(--taupe);
    padding-bottom: .4rem;
}

/* Fomulaire - Groupe de champs */

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    color: var(--bleu-royal);
    font-weight: 600;
}

/* Formulaire - Inputs et selects */

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--taupe);
    border-radius: 6px;
    font-size: 1rem;
    background: var(--blanc);
}

.form-group input[type="file"] {
    padding: 8px;
    border: 1px dashed var(--taupe);
    background: #faf9f7;
    cursor: pointer;
}

.form-group input[type="file"]:hover {
    border-color: var(--bleu-royal);
}

/* Formulaire - Checkbox */

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 8px 12px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: .95rem;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 6px;
    transform: scale(1.2);
}

.checkbox--single {
    margin-top: 6px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox--single input[type="checkbox"] {
    transform: scale(1.25);
}


/* Fomulaire - Liens */

.auth-link {
    margin-top: 1.2rem;
    font-size: 1rem;
}

.auth-link a {
    color: var(--rouge-accent);
    font-weight: 600;
    text-decoration: none;
}

.auth-link a:hover {
    opacity: 0.8;
}

/* Formulaire - Erreurs JS */

.form-group.erreur input {
    border-color: var(--rouge-accent);
    background: #FCECEC;
}

.message-erreur {
    color: var(--rouge-accent);
    font-size: 0.85rem;
    margin-top: 4px;
}

